<h1>My Account</h1>
<h2>This page will show user details, such as the following.</h2>
{{theUser}}

<h2>it should also show sessions using partials or something so they look nice
</h2>
{{theUser.meets}}
<form action="/user/delete" method="post"></form>
<a href="/account/edit">edit your account</a>