<h1>Are you SURE you want to delete your account?</h1>
<p>Deleting your account is permanent.  You can instead edit your account to remove information</p>

<button><a href="/"> No!  Take me back to safety.</a> </button>
<form action="/user/delete" method="post">
<button type="submit">Delete that thang!</button></form>