<div class="allMeets">

<h2>These are your meets:</h2>
<div class="eventrow" >
{{#each listOfMeets}}
<br>
<div>
{{> meetPartial}}
</div>
    <br>
<br>
<hr>

{{/each}}</div>

{{#unless theUser.isBusiness}}
<a href="/businesslist">Connect to some businesses</a>
{{/unless}}
</div>


{{!-- list of connections{{listOfConnections}} --}}
