<div class="indexAll">
<h1>Welcome to {{title}}</h1>

<div class="explain">
<p>Customers can connect to businesses to see scheduled events.</p>
<p>Businesses can approve customers who can view events.</p>
</div>
{{!-- will move these links to layouts navbar and have it show signup only if user is not logged in
//  --}}
{{#if theUser}}
<div>
You are logged in.
</div>
{{/if}}
</div>