<div class="indexAll">
    <div class="titleandtag">
<h1 class="logo1">Our Sessions</h1>
<p>-connect, request, confirm</p>
</div>
<div class="explain">
<div><p><strong>Signing up</strong> makes it easy to reserve sessions with a variety of professionals.</p></div> 
<div><p><strong>Connect</strong> to a professional to see their available appointments and upcoming events.</p></div>
</div>
{{!-- will move these links to layouts navbar and have it show signup only if user is not logged in
//  --}}
<div class="pretty">
</div>
</div>