<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- will move these links to layouts navbar and have it show signup only if user is not logged in
//  --}}
{{#if theUser}}
<div>
You are logged in.
</div>
{{/if}}