<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
<a href="/login">login</a>
<a href="/signup">sign up</a>
    </nav>
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
