<h1>
    Connect</h1>

<form action="/business/:id/createconnect" method="post">

    <label for="greeting">Send a brief greeting to this business</label>
    <input id="greeting" type="text" name="greeting">

    <button>Submit</button>

</form>